table{
    border-spacing: 0px;
}

td,tr,th{
    padding:4px;
}

#topleft{
    border-top-left-radius: 20px;
}

#topright{
    border-top-right-radius: 20px;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

th,td{
    text-align: center;
    padding:10px;
    width:200px;
    height:50px;

}

.instructions{
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input{
    padding:20px 40px;
}

th{
    height:60px;
    background-color: navy;
    color: whitesmoke;
    margin-right:0px;
}

.grey{
    background-color: grey;
    color:white;
}

